/*Applique la police a tout les textes + bloque la fenêtre*/
body {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
}


/*Police*/
@font-face {
    font-family: 'SF Pro Display';
    src: url('/Police/SFPRODISPLAYREGULAR.OTF') format('otf'),/*Sélection de la police*/
         url('/Police/SFPRODISPLAYMEDIUM.OTF') format('otf');/*Sélection de la police*/
    font-weight: normal;
    font-style: normal;
}

/*Applique la police et met de l'ombre à tout les textes*/
.custom-button,
.temperature,
.pression,
.humidite,
.txt_temperature,
.txt_pression,
.txt_humidite,
.date,
.time {
    font-family: 'SF Pro Display', sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Couleur de fond du site*/
.background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(75, 115, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*Panneau principal de la page ou sont afficher les données*/
.control_panel {
    width: 800px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: height 0.5s, top 0.5s;
}

/*Ligne décoratif sur le panneau de configuration (ligne du haut(1), ligne du bas(2)*/
.ligne1,
.ligne2 {
    position: absolute;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.50);
    border-width: 2px 0 0 0;
    width: 800px;
    height: 0px;
}

.ligne1 {
    top: 75px;
}

.ligne2 {
    bottom: 65px;
}

/*Met tout les textes en blanc et les mets au premier plan du site*/
.temperature,
.humidite,
.pression,
.txt_temperature,
.txt_pression,
.txt_humidite {
    color: white;
    position: absolute;
    margin: 0;
    z-index: 3;
}

/*Mise en forme du texte : "Temperature"*/
.txt_temperature {
    top: 70px;
    left: 315px;
    font-size: 35px;
    font-weight: bold;
}

/*température (en °C)*/
.temperature {
    top: 35px;
    left: 270px;
    font-size: 100px;
    font-weight: bold;
}

/*La pression (en hPa)*/
.pression {
    left: 50px;
    top: 130px;
    font-size: 45px;
}

/* Mise en forme du texte : "Pression"*/
.txt_pression {
    top: 100px;
    left: 60px;
    font-size: 35px;
    font-weight: bold;
}

/*L'humidité en (%)*/
.humidite {
    top: 100px;
    font-size: 65px;
    right: 42px;
}

/*Mise en forme du texte : "Humidité"*/
.txt_humidite {
    top: 100px;
    left: 620px;
    font-size: 35px;
    font-weight: bold;
}

/*la date du jour*/
.date {
    color: white;
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 42px;
}

/*L'heure et minute du jour*/
.time {
    color: white;
    position: absolute;
    top: -47px;
    right: 657px;
    font-size: 55px;
}

/*La fleche qui étire le panneau principal*/
.img_fleche {
    position: absolute;
    bottom : 17px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    height: 30px;
    filter: invert(1);
    z-index: 3;
    opacity: 0.7;
}

/*Affiche l'image de la fleche*/
.img_fleche img {
    width: 35px;
    height: auto;
    border-radius: 5px;
}

/*Image nuage de fond*/
.img_nuage {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transform: rotate(-0.063deg) scale(-1, 1);
}

/*Bouton rafraichissement de la page*/
.btn_rafraichir {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 0.6;
}

/*Au passage du curseur sur le bouton, celui-ci s'affiche d'une couleur différente*/
.btn_rafraichir:hover {
    opacity: 1;
    background-color: darkgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/*Etend la page quand la fleche est sélectionner*/
.control_panel--expanded {
    height: 700px;
    top: 50%;
}
